* {
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

input {
    margin: 10px 0px 10px 0px;
}

label {
    color: #ffffff
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #960DFF;
}

#title {
    color: black;
    margin: 36px 0 20px 0;
    padding: 10px;
    border-radius: 10px;
    background-color: #ffffff;
    border: 2px solid black;
    font-size: 20px;
}

#especifications {
    margin: 10px;
    width: 960px;
}

.card-espefications {
    background-color: #7B1CFF;
    margin-bottom: 28px;
    padding: 8px;
    border-radius: 20px;
    box-shadow: -1px 1px 10px 0px black;
    border: 2px solid white;
}

.name-especification {
    margin: 16px;
}

.name-especification span {
    font-size: 20px;
    color: white;
    padding: 10px;
    border-radius: 16px;
}

.especification {
    margin: 16px 16px 16px 30px;
    background-color: #ffffff;
    border: 2px solid black;
    color: black;
    border-radius: 10px;
    padding: 10px;
}

.especification span {
    border-radius: 20px;
    font-size: 14px;
}

#form-container {
    width: 960px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

#form-card {
    background-color: #7B1CFF;
    border-radius: 20px;
    box-shadow: -1px 1px 10px 0px black;
    border: 2px solid white;
    width: 480px;
}

#form-card form {
    font-size: 18px;
    padding-top: 10px;
    text-align: center;
}

.input-form {
    outline: none;
    border-radius: 10px;
    padding: 4px;
    font-size: 14px;
    text-align: center;
    border: 2px solid black;
    color: black;
    border-radius: 10px;
}

.input-button {
    width: 80px;
    border: 2px solid black;
    color: black;
    border-radius: 10px;
}

#result-container {
    text-align: center;
    justify-content: center;
    background-color: #7B1CFF;
    border-radius: 20px;
    box-shadow: -1px 1px 10px 0px black;
    border: 2px solid white;
    margin-left: 10px;
    width: 480px;
}